/* public/css/estilos.css */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    border-bottom: 3px solid #ff6600; /* Un toque naranja para Yumly */
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
    color: #ff6600 !important;
}

.card {
    border-radius: 15px;
    border: none;
}

.btn-primary {
    background-color: #ff6600;
    border: none;
}

.btn-primary:hover {
    background-color: #e65c00;
}